app-loading {
    color: #ffffff;
    display: grid;
    place-items: center;
    position: absolute;
    inset: 0;
}
app-loading > load-circle {
    display: block;
}
app-loading > load-circle::after {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    margin: 0;
    border-radius: 50%;
    border: 10px solid #333;
    border-top: 10px solid #fff;
    border-radius: 50%;
    animation: loading-circle 1.5s cubic-bezier(0.7, 0.3, 0.3, 0.7) infinite;
}
@keyframes loading-circle {
    0% { rotate: 0deg }
    100% { rotate: 360deg }
}