/* Global stylesheet */

a, button {
    cursor: pointer;
}
*[disabled] {
    cursor: not-allowed !important;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a[href] {
    color: blue;
}
